body {
  padding: 70px 0;
}

.main-container {
  position: absolute;
  width: 100%;
  top: 50px;
  bottom: 50px;
  overflow-y: auto;
}

.main-container > .container {
  padding: 16px;
}

.block-center {
  display: block;
  margin: 0 auto;
  float: none;
}

.food-item {
  padding: 0;
}

.food {
  padding: 12px;
  margin: 0;
}
